@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

.present .zaglushka, .how-do .zaglushka, .circles .zaglushka {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.present, .present .menu-block .container, .present .achivment, .form-section, .circles, .preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 1140px;
  z-index: 1;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 100%;
  }
}

.present {
  width: 100%;
  height: auto;
  position: relative;
  background: url("../img/fon-present.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.present .menu-block {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.present .menu-block .container {
  width: 1040px;
  margin: 50px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.present .menu-block .container img {
  width: 100px;
  height: 100px;
}

.present .menu-block .container .menu-btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.present .menu-block .container .menu-btn-block .button-present {
  padding: 15px 40px;
  font-size: 20px;
  border: #4169E0 5px solid;
  -webkit-box-shadow: 0 0 12px 7px rgba(65, 105, 224, 0.8);
          box-shadow: 0 0 12px 7px rgba(65, 105, 224, 0.8);
  border-radius: 15px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  margin-left: 100px;
}

.present .menu-block .container .menu-btn-block .button-present:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 12px 7px rgba(65, 105, 224, 0.8);
          box-shadow: inset 0 0 12px 7px rgba(65, 105, 224, 0.8);
}

.present .menu-block .container .menu-btn-block .menu-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.present .menu-block .container .menu-btn-block .menu-itself .menu-link {
  display: block;
  margin-left: 50px;
  color: white;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  position: relative;
}

.present .menu-block .container .menu-btn-block .menu-itself .menu-link:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 15px;
  background: #4169E0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.present .menu-block .container .menu-btn-block .menu-itself .menu-link-hover:before {
  width: 100%;
}

.present .behind-block {
  width: 100%;
  position: relative;
  margin: 40vh 0 200px 0;
}

.present .behind-block .container {
  width: 1040px;
  margin: 0 auto;
}

.present .behind-block .container .main-text {
  display: block;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.present .behind-block .container .not-main-text {
  display: block;
  color: white;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  width: 80%;
}

.present .about-product {
  width: 100%;
  height: auto;
}

.present .about-product .container {
  background: white;
  margin: 0 auto;
  border-radius: 15px;
}

@media screen and (max-width: 430px) {
  .present .about-product .container {
    width: 100%;
  }
}

.present .about-product .container .about-item {
  padding: 50px  100px;
}

.present .about-product .container .about-item .left-block {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  width: 50%;
}

@media screen and (max-width: 780px) {
  .present .about-product .container .about-item .left-block {
    font-size: 18px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 430px) {
  .present .about-product .container .about-item .left-block {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .present .about-product .container .about-item .left-block {
    font-size: 14px;
  }
}

.present .about-product .container .about-item .left-block .zagolovok {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.present .about-product .container .slick-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  background: transparent;
  border: none;
}

.present .about-product .container .slick-prev:before {
  content: '\f104';
  font-family: 'Font Awesome 5 Free';
  color: white;
  position: absolute;
  font-weight: 900;
  top: -20px;
  left: -80px;
  font-size: 70px;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .present .about-product .container .slick-prev:before {
    left: -40px;
  }
}

.present .about-product .container .slick-next {
  position: absolute;
  top: 50%;
  right: 0px;
  background: transparent;
  border: none;
}

.present .about-product .container .slick-next:before {
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  color: white;
  position: absolute;
  font-weight: 900;
  top: -20px;
  right: -80px;
  font-size: 70px;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .present .about-product .container .slick-next:before {
    right: -40px;
  }
}

.present .achivment {
  width: 100%;
  height: auto;
  position: relative;
}

.present .achivment .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 80px 0;
}

@media screen and (max-width: 780px) {
  .present .achivment .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.present .achivment .container .achivment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 1;
  margin: 50px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
}

.present .achivment .container .achivment-item .achivment-img {
  width: 100%;
  height: auto;
}

.present .achivment .container .achivment-item .zagolovok-achivment {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 30px;
}

.present .achivment .container .achivment-item:nth-child(2) {
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.present .achivment .container .achivment-item:nth-child(3) {
  -webkit-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.present .achivment .container .achivment-item:nth-child(5) {
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.present .achivment .container .achivment-item:nth-child(6) {
  -webkit-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.present .achivment .container .achivment-item-show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.form-section {
  padding: 40px 0;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 400px;
}

@media screen and (max-width: 430px) {
  .form-section {
    height: auto;
  }
}

.form-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 780px) {
  .form-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

@media screen and (max-width: 430px) {
  .form-section .container .right-block {
    padding: 0 20px;
  }
}

.form-section .container .right-block .zagolovok {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 430px) {
  .form-section .container .right-block .zagolovok {
    font-size: 20px;
  }
}

.form-section .container .right-block .text {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  line-height: 140%;
}

@media screen and (max-width: 430px) {
  .form-section .container .right-block .text {
    font-size: 16px;
  }
}

.form-section .container .left-block {
  width: 600px;
}

@media screen and (max-width: 430px) {
  .form-section .container .left-block {
    width: 100%;
  }
}

.form-section .container .left-block .modal-form-itself {
  width: 550px;
  height: auto;
  min-height: 60px;
  border-radius: 5px;
  background: #ffffff;
  margin: 0 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 430px) {
  .form-section .container .left-block .modal-form-itself {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.form-section .container .left-block .modal-form-itself form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: auto;
  position: relative;
  padding: 10px;
  overflow: hidden;
}

.form-section .container .left-block .modal-form-itself form .form-item {
  margin: 20px 0;
}

.form-section .container .left-block .modal-form-itself form input {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  color: #333333;
  padding: 5px;
  width: 300px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #4169E0;
  padding-bottom: 15px;
}

.form-section .container .left-block .modal-form-itself form .button-send-modal {
  padding: 10px 40px;
  font-size: 20px;
  background: #4169E0;
  border-radius: 15px;
  color: white;
  text-align: center;
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.form-section .container .left-block .modal-form-itself form .accept-block {
  margin-top: 10px;
}

.form-section .container .left-block .modal-form-itself form .accept-block input[type=checkbox] {
  display: none;
  width: 10px;
}

.form-section .container .left-block .modal-form-itself form .accept-block input[type=checkbox]:checked + label:before {
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  top: 2px;
  left: 2px;
  height: 5px;
}

.form-section .container .left-block .modal-form-itself form .accept-block input[type=checkbox] + label {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  padding-left: 30px;
  position: relative;
}

.form-section .container .left-block .modal-form-itself form .accept-block input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #333333;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-section .container .left-block .modal-form-itself form .description-accept {
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  line-height: 180%;
  margin: 10px 0;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: vissible;
  width: 100%;
}

.form-section .container .left-block .modal-form-itself form .hide {
  opacity: 0;
  visibility: hidden;
  height: auto !important;
}

.form-section .container .left-block .modal-form-itself .description {
  font-family: "OpenSans", sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 180%;
  color: #333333;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 50px auto;
}

.form-section .container .left-block .modal-form-itself .hide {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  height: 0 !important;
  padding: 0;
}

.how-do {
  width: 100%;
  height: auto;
  background: url("../img/fon-numbers.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.how-do .our-project {
  z-index: 1;
  position: relative;
}

.how-do .our-project .container {
  margin: 0 auto;
}

.how-do .our-project .container .zagolovok-project {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  padding: 100px 0px 50px 100px;
}

.how-do .our-project .container .obertka-block {
  padding: 50px;
}

.how-do .our-project .container .obertka-block .project-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 1040px;
  height: 570px;
  overflow: hidden;
}

.how-do .our-project .container .obertka-block .project-block .project-itself {
  width: 400px;
  height: 200px;
  border-radius: 15px;
  background: white;
  padding: 30px;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(1) {
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(2) {
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(3) {
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(4) {
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .zagolovok {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .text-project {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .close-btn-project {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 3px solid #4169E0;
  padding: 5px 0 3px 9px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself {
  width: 980px;
  height: 510px;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself .close-btn-project {
  opacity: 1;
}

.how-do .our-project .container .obertka-block .project-block .project-full-show:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-full-show:nth-child(2) {
  top: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-full-show:nth-child(3) {
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-full-show:nth-child(4) {
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.circles {
  width: 100%;
  position: relative;
  background: url("../img/fon-present.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.circles .container {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}

@media screen and (max-width: 780px) {
  .circles .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.circles .container .circle-block {
  position: relative;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 780px) {
  .circles .container .circle-block {
    margin: 50px 20px 0 20px;
  }
}

.circles .container .circle-block .circle {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.circles .container .circle-block .circle-numbers {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.circles .container .circle-block .about-numbers {
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 180%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.circles .container .circle-block-show {
  opacity: 1;
}

.offer {
  background: white;
}

.offer .container {
  margin: 0 auto;
  position: relative;
  height: 800px;
  -webkit-perspective: 3500px;
          perspective: 3500px;
  -webkit-transform-style: flat;
          transform-style: flat;
}

@media screen and (max-width: 430px) {
  .offer .container {
    height: auto;
    -webkit-perspective: none;
            perspective: none;
    dipslay: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
  }
}

.offer .container .offer-block {
  width: 700px;
  height: 550px;
  border-radius: 5px;
  border: 2px solid #4169E0;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
  opacity: 0.6;
  -webkit-transform: rotateY(30deg);
          transform: rotateY(30deg);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 780px) {
  .offer .container .offer-block {
    width: 600px;
    height: 450px;
  }
}

@media screen and (max-width: 430px) {
  .offer .container .offer-block {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    position: relative;
    width: 300px;
    height: auto;
    opacity: 1;
    top: auto !important;
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
    margin-bottom: 50px;
  }
}

.offer .container .offer-block .zagolovok-offer {
  padding: 30px;
  border-bottom: 2px solid #4169E0;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
}

@media screen and (max-width: 780px) {
  .offer .container .offer-block .zagolovok-offer {
    padding: 15px 30px;
    margin: 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 430px) {
  .offer .container .offer-block .zagolovok-offer {
    font-size: 18px;
  }
}

.offer .container .offer-block .text-offer {
  padding: 30px;
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  line-height: 180%;
  height: 330px;
  overflow-y: scroll;
}

@media screen and (max-width: 780px) {
  .offer .container .offer-block .text-offer {
    height: 300px;
    margin: 0;
    font-size: 16px;
  }
}

@media screen and (max-width: 430px) {
  .offer .container .offer-block .text-offer {
    height: auto;
    font-size: 14px;
  }
}

.offer .container .offer-block-hover {
  z-index: 3;
  opacity: 1;
  -webkit-transform: translateX(-70px) rotateY(0deg);
          transform: translateX(-70px) rotateY(0deg);
}

@media screen and (max-width: 430px) {
  .offer .container .offer-block-hover {
    -webkit-transform: translateX(0px) rotateY(0deg);
            transform: translateX(0px) rotateY(0deg);
  }
}

.footer {
  background: white;
  border-top: 2px solid #4169E0;
}

.footer .container {
  margin: 0 auto;
}

.footer .container p {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  text-align: center;
  line-height: 140%;
  padding: 5px 0;
}

.modal-form-show .modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-form-show .modal-form .shadow-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-form-show .modal-form .modal-form-itself {
  width: 550px;
  height: auto;
  min-height: 60px;
  border-radius: 5px;
  background: #ffffff;
  margin: 0 20px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 430px) {
  .modal-form-show .modal-form .modal-form-itself {
    width: 90vw;
    margin: 0;
    left: 5vw;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (max-width: 320px) {
  .modal-form-show .modal-form .modal-form-itself {
    top: 20%;
  }
}

.modal-form-show .modal-form .modal-form-itself .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 3px solid #4169E0;
  padding: 5px 0 3px 9px;
  cursor: pointer;
}

.modal-form-show .modal-form .modal-form-itself form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: auto;
  position: relative;
  padding: 30px;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .modal-form-show .modal-form .modal-form-itself form {
    padding: 20px;
  }
}

.modal-form-show .modal-form .modal-form-itself form .zagolovok-form {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
}

@media screen and (max-width: 320px) {
  .modal-form-show .modal-form .modal-form-itself form .zagolovok-form {
    font-size: 18px;
  }
}

.modal-form-show .modal-form .modal-form-itself form .form-item {
  margin: 20px 0;
}

.modal-form-show .modal-form .modal-form-itself form input {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  color: #333333;
  padding: 5px;
  width: 300px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #4169E0;
  padding-bottom: 15px;
}

@media screen and (max-width: 320px) {
  .modal-form-show .modal-form .modal-form-itself form input {
    width: 80vw;
  }
}

.modal-form-show .modal-form .modal-form-itself form .button-send-modal {
  padding: 10px 15px;
  font-size: 20px;
  background: #4169E0;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block {
  margin-top: 10px;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block input[type=checkbox] {
  display: none;
  width: 10px;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block input[type=checkbox]:checked + label:before {
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  top: 2px;
  left: 2px;
  height: 5px;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block input[type=checkbox] + label {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  padding-left: 30px;
  position: relative;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #333333;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-form-show .modal-form .modal-form-itself form .description-accept {
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  line-height: 180%;
  margin: 10px 0;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: vissible;
  width: 100%;
}

.modal-form-show .modal-form .modal-form-itself form .hide {
  opacity: 0;
  visibility: hidden;
  height: auto !important;
}

.modal-form-show .modal-form .modal-form-itself .description {
  font-family: "OpenSans", sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 180%;
  color: #333333;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 50px auto;
}

.modal-form-show .modal-form .modal-form-itself .hide {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  height: 0 !important;
  padding: 0;
}

.modal-form-show .modal-form-show {
  opacity: 1;
  visibility: visible;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.preloader-hide {
  opacity: 0;
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */