
@font-face
    font-family: "Ubuntu"
    src : url("../fonts/Ubuntu/Ubuntu-Regular.ttf") 

@font-face
    font-family: "OpenSans"
    src : url("../fonts/Open_Sans/OpenSans-Regular.ttf") 
    
    
$white : rgb(255,255,255)

$transition: all 0.5s ease

$blue: #36A9E1 

$text-on-white: #757575
    
%zaglushka
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgba(0,0,0,0.3)
    z-index: 0

%link
    text-decoration: none
    color: rgb(0,0,0)
    cursor: pointer

    &:hover
        text-decoration: none 

%flex-section
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    


body
    padding: 0
    margin: 0

.container
    width: 1140px
    z-index: 1

    @media screen and (max-width: 1100px)
        width: 960px

    @media screen and (max-width: 780px)
        width: 720px

    @media screen and (max-width: 430px)
        width: 100%

.present
    width: 100%
    height: auto
    position: relative
    @extend %flex-section
    background: url("../img/back.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed



    .zaglushka
        @extend %zaglushka

    .menu-block
        width: 100%
        height: auto
        display: flex
        flex-flow: row
        justify-content: center
        position: fixed
        top: 0
        left: 0
        z-index: 2
        background: transparent
        transition: $transition
        

        .container
            width: 1040px
            margin: 50px auto
            @extend %flex-section
            flex-flow: row nowrap
            justify-content: space-between
            transition: $transition

            img
                width: 100%
                height: auto


            .menu-btn-block
                display: flex
                flex-flow: row nowrap
                justify-content: flex-start
                align-items: center

                .button-present
                    padding: 10px 35px
                    font-size: 16px
                    border: $blue 3px solid
                    border-radius: 13px
                    color: $white
                    text-align: center
                    cursor: pointer
                    font-family: "Ubuntu", sans-serif
                    position: relative
                    margin-left: 100px
                    font-weight: bold
                    box-shadow: 0 0 10px 5px rgba(54, 169, 225, 0.8)

                    &:after
                        content: ''
                        position: absolute
                        width: 100%
                        height: 100%
                        top: 0
                        left: 0
                        box-shadow: inset 0 0 10px 5px rgba(54, 169, 225, 0.8)

                .menu-itself
                    display: flex
                    flex-flow: row nowrap
                    justify-content: flex-end
                    align-items: center

                    .menu-link
                        display: block
                        margin-left : 50px
                        color: $white
                        text-decoration: none
                        font-family: "Ubuntu", sans-serif
                        font-size: 20px
                        position: relative

                        &:before
                            content: ''
                            position: absolute
                            bottom: -10px
                            left: 0
                            width: 0%
                            height: 2px
                            border-radius: 13px
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                            background: $blue
                            transition: $transition
                    
                    .menu-link-hover

                        &:before
                            width: 100%

    .behind-block
        width: 100%
        position: relative
        margin: 400px 0 250px 0

        .container
            width: 1040px
            margin: 0 auto

            .main-text
                display: block
                color: $white
                font-family: "Ubuntu", sans-serif
                font-size: 70px
                text-transform: uppercase
                margin-bottom: 20px

            .not-main-text
                display: block
                color: $white
                font-family: "OpenSans", sans-serif
                font-size: 20px
                width: 80%


        // .menu-present
        //     background-color: $white
        //     opacity: 1
        //     padding: 30px 0
        //     width: 100%
        //     display: flex
        //     flex-flow: row nowrap
        //     justify-content: center
        //     transition: $transition

        //     @media screen and (max-width: 320px)
        //         height: auto

        //     .container
        //         display: flex
        //         flex-flow: row nowrap
        //         justify-content: space-between
        //         align-items: center
        //         padding: 10px 0 

        //         @media screen and (max-width: 430px)
        //             position: relative

        //         .contact-present
        //             font-size: 20px
        //             opacity: 0
        //             transition: $transition 0.3s
        //             position: absolute
        //             left: -50%
        //             display: flex
        //             flex-flow: column nowrap
        //             justify-content: center
        //             align-items: flex-start
        //             font-family: "Ubuntu", sans-serif

        //             .phone
        //                 display: flex
        //                 flex-flow: row nowrap
        //                 justify-content: flex-start
        //                 align-items: center
        //                 margin-bottom: 10px

        //                 a
        //                     @extend %link 
        //                     margin-left: 10px

        //                 .fa
        //                     font-size: 20px
        //                     color: $blue


        //             .email
        //                 display: flex
        //                 flex-flow: row nowrap
        //                 justify-content: flex-start
        //                 align-items: center

        //                 a
        //                     @extend %link 
        //                     margin-left: 10px

        //                 .fa
        //                     font-size: 20px
        //                     color: $blue

        //             @media screen and (max-width: 780px)
        //                 font-size: 16px

                        

        //         // .button-present
        //         //     padding: 10px 15px
        //         //     font-size: 20px
        //         //     background: $blue
        //         //     border-radius: 3px
        //         //     color: $white
        //         //     font-weight: bold
        //         //     text-align: center
        //         //     opacity: 0
        //         //     transition: $transition 0.3s
        //         //     position: absolute
        //         //     left: -50%
        //         //     cursor: pointer
        //         //     font-family: "Ubuntu", sans-serif

        //         .text-block
        //             display: flex
        //             flex-flow: column nowrap
        //             justify-content: center
        //             align-items: center

        //             @media screen and (max-width: 430px)
        //                 padding: 20px
                        

        //             .zagolovok
        //                 font-size: 45px
        //                 font-weight: bold
        //                 text-transform: capitalize
        //                 margin: 30px 0 
        //                 text-align: center
        //                 transition: $transition
        //                 font-family: "Ubuntu", sans-serif

        //                 @media screen and (max-width: 780px)
        //                     font-size: 40px

        //                 @media screen and (max-width: 430px)
        //                     font-size: 25px

                        

        //             .about-present
        //                 font-size: 25px
        //                 opacity: 1
        //                 position: relative
        //                 top: auto
        //                 font-family: "OpenSans", sans-serif

        //                 @media screen and (max-width: 780px)
        //                     font-size: 20px

        //                 @media screen and (max-width: 430px)
        //                     font-size: 18px

        //                 @media screen and (max-width: 320px)
        //                     font-size: 14px

        // .fixed-menu-present
        //     position: fixed
        //     top: 0
        //     left: 0
        //     height: auto
        //     z-index: 4
        //     border-bottom: 2px solid $blue
        //     opacity: 0.9
        //     padding: 0

            // .container

            //     @media screen and (max-width: 430px) 
            //         flex-flow: column
            //         align-items: flex-end
            //         padding: 10px 10px 0 10px

            //     .contact-present
            //         opacity: 1
            //         position: relative
            //         left: auto


            //         @media screen and (max-width: 430px)
            //             margin-right: 10px

            //         @media screen and (max-width: 320px)
            //             font-size: 14px

            //     .button-present
            //         opacity: 1
            //         position: relative
            //         left: auto

            //         @media screen and (max-width: 430px) 
            //             padding: 8px 12px
            //             font-size: 13px
            //             margin-top: 10px
            //             width: 100vw
            //             text-align: center
            //             border-radius: 0
 
            //             br
            //                 display: none

            //     .text-block

            //         @media screen and (max-width: 430px)     
            //             position: absolute
            //             top: -15px
            //             left: 0px
            //             width: 45vw
                    
            //         @media screen and (max-width: 370px)
            //             top: -5px

            //         .zagolovok
            //             font-size: 25px
            //             font-weight: bold
            //             text-transform: capitalize
            //             margin: 0
            //             text-align: center

            //             @media screen and (max-width: 780px)
            //                 font-size: 20px

            //             @media screen and (max-width: 370px)
            //                 font-size: 18px

            //             @media screen and (max-width: 320px)
            //                 font-size: 14px
                            

            //         .about-present
            //             opacity: 0
            //             position: absolute
            //             top: -100px
                

                    


    .about-product  
        width: 100% 
        height: auto

        .container
            background: $white
            margin: 0 auto
            border-radius: 15px

            @media screen and (max-width: 430px)
                width: 100%

            .about-item
                padding: 70px  120px
                min-height: 325px
                position: relative


                // .right-block
                //     width: 500px
                //     height: 350px

                //     @media screen and (max-width: 430px)
                //         width: 100%
                //         height: auto

                //     img
                //         width: 100%
                //         height: 100%
                //         object-fit: cover
                    
                .left-block
                    font-size: 16px
                    line-height: 20px
                    font-family: "OpenSans", sans-serif
                    text-align: left
                    color: $text-on-white
                    

                    @media screen and (max-width: 780px)
                        font-size: 18px
                        margin-right: 50px

                    @media screen and (max-width: 430px)
                        width: 100%
                        margin-right: 0

                    @media screen and (max-width: 320px)
                        font-size: 14px
                        

                    // .first_row
                    //     font-weight: bold
                    //     font-family: "Ubuntu", sans-serif
                    //     font-size: 24px

                    //     @media screen and (max-width: 780px)
                    //         font-size: 22px
                            
                    //     @media screen and (max-width: 430px)
                    //         padding: 10px
                        
                    //     @media screen and (max-width: 320px)
                    //         font-size: 20px

                    .zagolovok
                        font-family: "Ubuntu", sans-serif
                        font-size: 48px
                        line-height: 62px
                        margin-bottom: 20px
                        text-transform: uppercase

                    .about-text
                        width: 50%

                .about-img
                    position: absolute
                    right: 0
                    bottom: 0




            .slick-prev
                position: absolute
                top: 50%
                left: 0px
                background: transparent
                border: none
                    
                &:before
                    content: '\f104'
                    font-family: 'Font Awesome 5 Free'
                    color: $white
                    position: absolute
                    font-weight: 900
                    top: -20px
                    left: -80px
                    font-size: 70px
                    opacity: 1
                    cursor: pointer

                @media screen and (max-width: 1600px)

                    &:before
                        left: -40px



            .slick-next
                position: absolute
                top: 50%
                right: 0px
                background: transparent
                border: none


                &:before
                    content: '\f105'
                    font-family: 'Font Awesome 5 Free'
                    color: $white
                    position: absolute
                    font-weight: 900
                    top: -20px
                    right: -80px
                    font-size: 70px
                    opacity: 1
                    cursor: pointer 

                @media screen and (max-width: 1600px)

                    &:before
                        right: -40px 


    .achivment
        @extend %flex-section  
        width: 100% 
        height: auto
        position: relative
        
    
        .container
            display: flex
            flex-flow: row wrap
            justify-content: space-around
            align-items: flex-start
            padding: 80px 0

            @media screen and (max-width: 780px)
                justify-content: space-around


            .achivment-item
                display: flex
                flex-flow: column nowrap
                justify-content: center
                align-items: center
                color: $white
                z-index: 1
                margin: 50px 0
                transition: $transition
                transform: scale(0.7)
                opacity: 0
                min-width: 190px

                .achivment-img
                    width: 100%
                    height: auto
                    text-align: center

                .zagolovok-achivment
                    font-weight: bold
                    font-family: "Ubuntu", sans-serif
                    font-size: 24px
                    margin-bottom: 10px
                    text-align: center
                    line-height: 30px

                // .text-achivment
                //     font-size: 18px
                //     font-family: "OpenSans", sans-serif
                //     text-align: left
                //     line-height: 140%

                &:nth-child(2)
                    transition: $transition 0.2s

                &:nth-child(3)
                    transition: $transition 0.4s

                &:nth-child(5)
                    transition: $transition 0.2s

                &:nth-child(6)
                    transition: $transition 0.4s

                // @media screen and (max-width: 1100px)
                //     width: 300px

            .achivment-item-show
                transform: scale(1)
                opacity: 1

.form-section
    background: $white
    @extend %flex-section
    transition: $transition
    height: 500px
    position: relative

    @media screen and (max-width: 430px)
        height: auto

    .corner-img
            position: absolute
            bottom: 0
            left: 0
            height: 100%
            width: auto

            img
                width: 100%
                height: 100%
                object-fit: cover

    .container
        display: flex;
        flex-flow: row nowrap
        justify-content: flex-start
        align-items: center
        transition: $transition

        @media screen and (max-width: 780px)
            flex-flow: column
            flex-direction: column-reverse

       

        .right-block
            width: 50%
            @extend %flex-section

            @media screen and (max-width: 430px)
                padding: 0 20px

            img
                transform: translateX(-200px)

                @media screen and (max-width: 1600px)
                    transform: translateX(0px)

            

            

            // .zagolovok
            //     font-weight: bold
            //     font-family: "Ubuntu", sans-serif
            //     font-size: 24px
            //     margin-bottom: 10px
            //     text-align: center

            //     @media screen and (max-width: 430px)
            //         font-size: 20px
            
            // .text
            //     font-size: 18px
            //     font-family: "OpenSans", sans-serif
            //     text-align: left
            //     line-height: 140%

            //     @media screen and (max-width: 430px)
            //         font-size: 16px

        .left-block
            width: 50%

            @media screen and (max-width: 430px)
                width: 100%

    
            .zagolovok
                font-size: 45px
                line-height: 53px
                font-family: "Ubuntu", sans-serif
                color: $text-on-white
                text-transform: uppercase
                margin-top: 50px
                margin-bottom: 10px
                transition: $transition



            .modal-form-itself
                width: 550px
                height: auto
                min-height: 60px
                border-radius: 5px
                background: #ffffff
                position: relative
                display: flex
                flex-flow: column nowrap
                justify-content: flex-start

                @media screen and (max-width: 430px)
                    width: 100%
                    padding: 0
                    margin: 0

                // .close-btn
                //     position: absolute
                //     top: 5px
                //     right: 5px
                //     width: 20px
                //     height: 20px;
                //     border-radius: 50px
                //     border: 3px solid $zagolovok
                //     padding: 5px 0 3px 9px
                //     cursor: pointer

                form
                    display: flex
                    flex-flow: column nowrap
                    justify-content: flex-start
                    align-items: flex-start
                    position: relative
                    transition: $transition
                    height: auto
                    position: relative
                    overflow: hidden

                    // .zagolovok-form
                    //     font-weight: bold
                    //     font-family: "Ubuntu", sans-serif
                    //     font-size: 20px
                    //     margin-bottom: 20px
                    //     text-align: center
                    //     background-color: #ffffff

                    .form-item
                        margin: 20px 0

                    input
                        font-size: 20px
                        line-height: 21px
                        font-family: "OpenSans", sans-serif
                        text-align: left
                        color: #333333
                        padding: 5px
                        width: 300px
                        border-radius: 0px
                        border: none
                        border-bottom: 2px solid #ACA6A6
                        padding-bottom: 15px

                    // textarea
                    //     border-radius: 5px
                    //     border: 1px solid rgb(169, 169, 169)
                    //     width: 300px
                    //     font-family: "Ubuntu"
                    //     font-size: 18px
                    //     line-height: 180%
                    //     color: #333333
                    //     padding: 5px
                    //     height: 150px
                    //     overflow: scroll

                    // select
                    //     width: 314px
                    //     font-family: "Ubuntu"
                    //     font-size: 18px
                    //     line-height: 180%
                    //     color: #333333
                    //     padding: 5px


                    .button-send-modal
                        padding: 15px 40px
                        font-size: 20px
                        line-height: 23px
                        background: $blue
                        border-radius: 13px
                        color: $white
                        text-align: center
                        transition: $transition 0.3s
                        cursor: pointer
                        font-family: "Ubuntu", sans-serif
                        margin:  0 0 40px 180px
                    

                    // .modal-file
                    //     position: relative
                    //     width: 305px

                    //     label
                    //         position: absolute
                    //         top: 0
                    //         right: 0
                    //         width: 195px
                    //         height: 100%
                    //         background: #ffffff
                    //         font-family: "Ubuntu"
                    //         font-size: 18px
                    //         line-height: 180%
                    //         color: #333333  
                    //         display: flex
                    //         align-items: center
                    //         justify-content: center
        

                    //         &:after 
                    //             text-align: center
                    //             content: "Выберите файл"
                    //             top: 0
                    //             left: -115px
                    //             width: 115px
                    //             height: 100%
                    //             color: white 
                    //             display: flex
                    //             align-items: center
                    //             justify-content: center
                    //             background-color: $zagolovok
                    //             cursor: pointer
                    //             visibility: visible
                    //             position: absolute
                    //             font-family: "Ubuntu"
                    //             font-size: 14px
                    //             line-height: 180%
                    //             border-radius: 5px

                    .accept-block
                        margin-top: 10px

                        input[type=checkbox] 
                            display: none
                            width: 10px

                            &:checked + label

                                &:before
                                    border-right: none
                                    border-top: none
                                    transform: rotate(-50deg)
                                    top: 2px
                                    left: 2px
                                    height: 5px

                        input[type=checkbox] + label
                            font-family: "OpenSans", sans-serif
                            font-size: 14px
                            line-height: 140%
                            color: $text-on-white
                            padding-left: 30px
                            position: relative

                            &:before
                                content: ''
                                position: absolute
                                top: 0
                                left: 0
                                width: 10px;
                                height: 10px;
                                border: 2px solid #ACA6A6
                                transition: $transition
                                cursor: pointer

                    .description-accept
                        font-family: "OpenSans", sans-serif
                        font-size: 15px
                        line-height: 180%
                        margin: 10px 0
                        text-align: left
                        transition: $transition
                        opacity: 1
                        visibility: vissible
                        width: 100%
                        color: $text-on-white

                    .hide 
                        opacity: 0
                        visibility: hidden
                        height: auto !important

                .description
                        font-family: "OpenSans", sans-serif
                        font-size: 25px
                        text-align: left
                        line-height: 180%
                        color: #ACA6A6
                        transition: $text-on-white
                        margin: 50px auto

                .hide 
                        opacity: 0
                        visibility: hidden
                        margin: 0
                        height: 0 !important
                        padding: 0

.how-do
    width: 100%
    height: auto
    background: url("../img/back.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed
    position: relative

    .zaglushka
        @extend %zaglushka

    .our-project
        z-index: 1
        position: relative

        .container
            margin: 0 auto

            .zagolovok-project
                font-family: "Ubuntu", sans-serif
                font-size: 70px
                color: $white
                text-transform: uppercase
                padding: 120px 0px 0 100px

            .obertka-block
                padding: 50px

                .project-block
                    display: flex
                    flex-flow: row wrap
                    justify-content: space-between
                    align-items: center
                    position: relative
                    width: 1040px
                    height: 570px
                    overflow: hidden
                    

                    .project-itself
                        width: 400px
                        height: 200px
                        border-radius: 20px
                        background: $white
                        padding: 30px
                        color: $text-on-white
                        cursor: pointer
                        position: absolute
                        z-index: 0
                        transition: $transition
                        display: flex
                        flex-flow: column nowrap
                        justify-content: center
                        align-items: flex-start


                        &:nth-child(1)
                            top: 0
                            left: 0
                            opacity: 0
                            transform: translateX(-200px)
                            transition: $transition
                            

                        &:nth-child(2)
                            top: 0
                            right: 0
                            opacity: 0
                            transform: translateY(-200px)
                            transition: $transition
                            

                        &:nth-child(3)
                            bottom: 0
                            left: 0
                            opacity: 0
                            transform: translateY(200px)
                            transition: $transition

                        &:nth-child(4)
                            bottom: 0
                            right: 0
                            opacity: 0
                            transform: translateX(200px)
                            transition: $transition

                        .zagolovok
                            font-family: "Ubuntu", sans-serif
                            font-size: 30px
                            text-transform: uppercase
                            margin-bottom: 10px

                        .text-project
                            font-family: "OpenSans", sans-serif
                            font-size: 16px
                            margin-bottom: 50px

                        .close-btn-project
                            position: absolute
                            top: 15px
                            right: 15px
                            width: 20px
                            height: 20px;
                            border-radius: 50px
                            border: 3px solid $blue
                            padding: 5px 0 3px 9px
                            cursor: pointer
                            opacity: 0
                            transition: $transition 0.5s


                    .project-full-itself
                        width: 980px
                        height: 510px
                        z-index: 1
                        transition: $transition

                        .close-btn-project
                            opacity: 1

                    .project-full-show

                        &:nth-child(1)
                            opacity: 1
                            transform: translateX(0px)
                            transition: $transition
                            

                        &:nth-child(2)
                            top: 0
                            right: 0
                            opacity: 1
                            transform: translateY(0px)
                            transition: $transition
                            

                        &:nth-child(3)
                            bottom: 0
                            left: 0
                            opacity: 1
                            transform: translateY(0px)
                            transition: $transition 

                        &:nth-child(4)
                            bottom: 0
                            right: 0
                            opacity: 1
                            transform: translateX(0px)
                            transition: $transition
                        

  
// .circles
//     width: 100%
//     position: relative
//     @extend %flex-section
//     background: url("../img/fon-present.png")
//     background-size: cover
//     background-position: center
//     background-repeat: no-repeat
//     background-attachment: fixed

//     .zaglushka
//         @extend %zaglushka

//     .container
//         z-index: 1
//         display: flex
//         flex-flow: row nowrap
//         justify-content: space-between
//         align-items: center
//         padding: 150px 0

//         @media screen and (max-width: 780px)
//             flex-flow: row wrap
//             justify-content: center

//         .circle-block
//             position: relative
//             color: $white
//             opacity: 0
//             transition: $transition

//             @media screen and (max-width: 780px)
//                 margin: 50px 20px 0 20px

//             .circle
//                 transform: rotate(-90deg)  

//             .circle-numbers
//                 font-weight: bold
//                 font-family: "Ubuntu", sans-serif
//                 font-size: 30px
//                 text-align: center
//                 position: absolute
//                 top: 20%
//                 left: 50%
//                 transform: translateX(-50%)
//                 transition: $transition

//             .about-numbers
//                 font-family: "OpenSans", sans-serif
//                 font-size: 15px
//                 text-align: center
//                 line-height: 180%
//                 position: absolute
//                 top: 45%
//                 left: 50%
//                 transform: translateX(-50%)
//                 white-space: nowrap

//         .circle-block-show
//             opacity: 1
                
// .offer
//     background: $white
   
//     .container
//         margin: 0 auto
//         position: relative
//         height: 800px
//         perspective: 3500px
//         transform-style: flat

//         @media screen and (max-width: 430px)
//             height: auto 
//             perspective: none
//             dipslay: flex
//             flex-flow: column nowrap
//             justify-content: flex-start
//             align-items: center
//             padding-top: 50px


//         .offer-block
//             width: 700px
//             height: 550px
//             border-radius: 5px
//             border: 2px solid $blue
//             position: absolute
//             top: 0
//             left: 0
//             background: $white
//             transition: $transition
//             z-index: 2
//             opacity: 0.6
//             transform: rotateY(30deg)
//             box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3)

//             @media screen and (max-width: 780px)
//                 width: 600px
//                 height: 450px

//             @media screen and (max-width: 430px)
//                 transform: rotateY(0deg)
//                 position: relative
//                 width: 300px
//                 height: auto
//                 opacity: 1
//                 top: auto !important
//                 left: 50% !important
//                 transform: translateX(-50%) !important
//                 margin-bottom: 50px
            

//             .zagolovok-offer
//                 padding: 30px
//                 border-bottom: 2px solid $blue
//                 font-weight: bold
//                 font-family: "Ubuntu", sans-serif
//                 font-size: 25px

//                 @media screen and (max-width: 780px)
//                     padding: 15px 30px 
//                     margin: 0
//                     font-size: 20px
                
//                 @media screen and (max-width: 430px)
//                     font-size: 18px
                
//             .text-offer
//                 padding: 30px
//                 font-family: "OpenSans", sans-serif
//                 font-size: 18px
//                 line-height: 180%
//                 height: 330px
//                 overflow-y: scroll

//                 @media screen and (max-width: 780px)
//                     height: 300px
//                     margin: 0
//                     font-size: 16px

//                 @media screen and (max-width: 430px)
//                     height: auto
//                     font-size: 14px

//         .offer-block-hover
//             z-index: 3
//             opacity: 1
//             transform: translateX(-70px) rotateY(0deg)

//             @media screen and (max-width: 430px)
//                transform: translateX(0px) rotateY(0deg) 


        

.footer
    width: 100%
    height: auto
    background: url("../img/back.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed
    position: relative

    .zaglushka
        @extend %zaglushka

    .container
        margin: 0 auto
        z-index: 1
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        padding: 120px 0 70px 0

        .left-side-footer
            margin-left: 50px
            z-index: 1

            .logo-footer
                margin-bottom: 30px
                display: flex
                flex-flow: row nowrap
                justify-content: flex-start
                align-items: center

                // img
                //     width: 100%
                //     height: auto

            .email
                font-size: 20px
                line-height: 23px
                color: $white
                font-family: "OpenSans", sans-serif
                margin-left: 65px

            .text-left
               font-family: "OpenSans", sans-serif
               font-size: 18px
               color: $white 
               line-height: 30px

        // .right-side-footer
        //     margin-right: 100px
        //     margin-top: 20px
        //     font-family: "OpenSans", sans-serif
        //     font-size: 25px
        //     color: $white 
        //     line-height: 30px
        //     z-index: 1





.modal-form-show

    .modal-form
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 3
        opacity: 0
        visibility: hidden
        transition: $transition

        .shadow-back
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: rgba(0,0,0,0.7)

        .modal-form-itself
            width: 550px
            height: auto
            min-height: 60px
            border-radius: 5px
            background: #ffffff
            margin: 0 20px
            position: absolute
            top: 25%
            left: 50%
            transform: translateX(-50%)
            display: flex
            flex-flow: column nowrap
            justify-content: center

            @media screen and (max-width: 430px)
                width: 90vw
                margin: 0
                left: 5vw
                transform: translateX(0%)

            @media screen and (max-width: 320px)
                top: 20%

            .close-btn
                position: absolute
                top: 10px
                right: 10px
                width: 20px
                height: 20px;
                border-radius: 50px
                border: 3px solid $blue
                padding: 5px 0 3px 9px
                cursor: pointer

            form
                display: flex
                flex-flow: column nowrap
                justify-content: flex-start
                align-items: center
                position: relative
                transition: $transition
                height: auto
                position: relative
                padding: 30px
                overflow: hidden

                @media screen and (max-width: 320px)
                    padding: 20px

                .zagolovok-form
                    font-weight: bold
                    font-family: "Ubuntu", sans-serif
                    font-size: 30px
                    margin-bottom: 20px
                    text-align: center
                    background-color: #ffffff
                    color: $text-on-white
                    text-transform: uppercase

                    @media screen and (max-width: 320px)
                        font-size: 18px

                .form-item
                    margin: 20px 0

                input
                    font-size: 18px
                    font-family: "OpenSans", sans-serif
                    text-align: left
                    color: #333333
                    padding: 5px
                    width: 300px
                    border-radius: 0px
                    border: none
                    border-bottom: 2px solid #ACA6A6
                    padding-bottom: 15px

                    @media screen and (max-width: 320px)
                        width: 80vw

                    // textarea
                    //     border-radius: 5px
                    //     border: 1px solid rgb(169, 169, 169)
                    //     width: 300px
                    //     font-family: "Ubuntu"
                    //     font-size: 18px
                    //     line-height: 180%
                    //     color: #333333
                    //     padding: 5px
                    //     height: 150px
                    //     overflow: scroll

                    // select
                    //     width: 314px
                    //     font-family: "Ubuntu"
                    //     font-size: 18px
                    //     line-height: 180%
                    //     color: #333333
                    //     padding: 5px


                .button-send-modal
                    padding: 15px 40px
                    font-size: 20px
                    background: $blue
                    border-radius: 13px
                    color: $white
                    font-weight: bold
                    text-align: center
                    transition: $transition 0.3s
                    cursor: pointer
                    font-family: "Ubuntu", sans-serif
                    margin: 0
                    

                    // .modal-file
                    //     position: relative
                    //     width: 305px

                    //     label
                    //         position: absolute
                    //         top: 0
                    //         right: 0
                    //         width: 195px
                    //         height: 100%
                    //         background: #ffffff
                    //         font-family: "Ubuntu"
                    //         font-size: 18px
                    //         line-height: 180%
                    //         color: #333333  
                    //         display: flex
                    //         align-items: center
                    //         justify-content: center
        

                    //         &:after 
                    //             text-align: center
                    //             content: "Выберите файл"
                    //             top: 0
                    //             left: -115px
                    //             width: 115px
                    //             height: 100%
                    //             color: white 
                    //             display: flex
                    //             align-items: center
                    //             justify-content: center
                    //             background-color: $zagolovok
                    //             cursor: pointer
                    //             visibility: visible
                    //             position: absolute
                    //             font-family: "Ubuntu"
                    //             font-size: 14px
                    //             line-height: 180%
                    //             border-radius: 5px

                .accept-block
                    margin-top: 10px

                    input[type=checkbox] 
                        display: none
                        width: 10px

                        &:checked + label

                            &:before
                                border-right: none
                                border-top: none
                                transform: rotate(-50deg)
                                top: 2px
                                left: 2px
                                height: 5px

                    input[type=checkbox] + label
                        font-family: "OpenSans", sans-serif
                        font-size: 14px
                        line-height: 140%
                        color: #333333
                        padding-left: 30px
                        position: relative

                        &:before
                            content: ''
                            position: absolute
                            top: 0
                            left: 0
                            width: 10px;
                            height: 10px;
                            border: 2px solid $text-on-white
                            transition: $transition

                .description-accept
                    font-family: "OpenSans", sans-serif
                    font-size: 15px
                    line-height: 180%
                    margin: 10px 0
                    text-align: center
                    transition: $transition
                    opacity: 1
                    visibility: vissible
                    width: 100%
                    color: $text-on-white


                .hide 
                    opacity: 0
                    visibility: hidden
                    height: auto !important

            .description
                font-family: "OpenSans", sans-serif
                font-size: 25px
                text-align: center
                line-height: 180%
                color: $text-on-white
                transition: $transition
                margin: 50px auto

            .hide 
                opacity: 0
                visibility: hidden
                margin: 0
                height: 0 !important
                padding: 0

    .modal-form-show
        opacity: 1
        visibility: visible

.preloader
    position: fixed
    @extend %flex-section
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,1)
    z-index: 5
    transition: $transition
    opacity: 1
    visibility: visible;


    

.preloader-hide
    opacity: 0
    visibility: hidden


