@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

.present .zaglushka, .how-do .zaglushka, .footer .zaglushka {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.present, .present .menu-block .container, .present .achivment, .form-section, .form-section .container .right-block, .preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 1140px;
  z-index: 1;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 100%;
  }
}

.present {
  width: 100%;
  height: auto;
  position: relative;
  background: url("../img/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.present .menu-block {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.present .menu-block .container {
  width: 1040px;
  margin: 50px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.present .menu-block .container .logo {
  width: 90px;
  height: 70px;
}

.present .menu-block .container .logo img {
  width: 100%;
  height: auto;
}

.present .menu-block .container .menu-btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.present .menu-block .container .menu-btn-block .button-present {
  padding: 10px 35px;
  font-size: 16px;
  border: #36A9E1 3px solid;
  border-radius: 13px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  margin-left: 100px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 10px 5px rgba(54, 169, 225, 0.8);
          box-shadow: 0 0 10px 5px rgba(54, 169, 225, 0.8);
}

.present .menu-block .container .menu-btn-block .button-present:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 10px 5px rgba(54, 169, 225, 0.8);
          box-shadow: inset 0 0 10px 5px rgba(54, 169, 225, 0.8);
}

.present .menu-block .container .menu-btn-block .menu-itself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.present .menu-block .container .menu-btn-block .menu-itself .menu-link {
  display: block;
  margin-left: 50px;
  color: white;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  position: relative;
}

.present .menu-block .container .menu-btn-block .menu-itself .menu-link:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: 13px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #36A9E1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.present .menu-block .container .menu-btn-block .menu-itself .menu-link-hover:before {
  width: 100%;
}

.present .behind-block {
  width: 100%;
  position: relative;
  margin: 400px 0 250px 0;
}

.present .behind-block .container {
  width: 1040px;
  margin: 0 auto;
}

.present .behind-block .container .main-text {
  display: block;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.present .behind-block .container .not-main-text {
  display: block;
  color: white;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  width: 80%;
}

.present .about-product {
  width: 100%;
  height: auto;
}

.present .about-product .container {
  background: white;
  margin: 0 auto;
  border-radius: 15px;
}

@media screen and (max-width: 430px) {
  .present .about-product .container {
    width: 100%;
  }
}

.present .about-product .container .about-item {
  padding: 70px  120px;
  min-height: 325px;
  position: relative;
}

.present .about-product .container .about-item .left-block {
  font-size: 16px;
  line-height: 20px;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  color: #757575;
}

@media screen and (max-width: 780px) {
  .present .about-product .container .about-item .left-block {
    font-size: 18px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 430px) {
  .present .about-product .container .about-item .left-block {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .present .about-product .container .about-item .left-block {
    font-size: 14px;
  }
}

.present .about-product .container .about-item .left-block .zagolovok {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.present .about-product .container .about-item .left-block .about-text {
  width: 50%;
}

.present .about-product .container .about-item .about-img {
  position: absolute;
  right: -1px;
  bottom: 0;
}

.present .about-product .container .about-item .about-img img {
  border-radius: 0 0 15px 0;
}

.present .about-product .container .slick-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  background: transparent;
  border: none;
}

.present .about-product .container .slick-prev:before {
  content: '\f104';
  font-family: 'Font Awesome 5 Free';
  color: white;
  position: absolute;
  font-weight: 900;
  top: -20px;
  left: -80px;
  font-size: 70px;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .present .about-product .container .slick-prev:before {
    left: -40px;
  }
}

.present .about-product .container .slick-next {
  position: absolute;
  top: 50%;
  right: 0px;
  background: transparent;
  border: none;
}

.present .about-product .container .slick-next:before {
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  color: white;
  position: absolute;
  font-weight: 900;
  top: -20px;
  right: -80px;
  font-size: 70px;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .present .about-product .container .slick-next:before {
    right: -40px;
  }
}

.present .achivment {
  width: 100%;
  height: auto;
  position: relative;
  background: url("../img/back-achivments.png");
  background-position: center;
  background-repeat: no-repeat;
}

.present .achivment .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 80px 0;
}

@media screen and (max-width: 780px) {
  .present .achivment .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.present .achivment .container .achivment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 1;
  margin: 50px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  min-width: 190px;
}

.present .achivment .container .achivment-item .achivment-img {
  width: 100%;
  height: auto;
  text-align: center;
}

.present .achivment .container .achivment-item .zagolovok-achivment {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 30px;
}

.present .achivment .container .achivment-item:nth-child(2) {
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.present .achivment .container .achivment-item:nth-child(3) {
  -webkit-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.present .achivment .container .achivment-item:nth-child(5) {
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.present .achivment .container .achivment-item:nth-child(6) {
  -webkit-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.present .achivment .container .achivment-item-show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.form-section {
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 430px) {
  .form-section {
    height: auto;
  }
}

.form-section .corner-img {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
}

.form-section .corner-img img {
  width: 100%;
  height: 100%;
}

.form-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 780px) {
  .form-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

.form-section .container .right-block {
  width: 50%;
}

@media screen and (max-width: 430px) {
  .form-section .container .right-block {
    padding: 0 20px;
  }
}

.form-section .container .right-block img {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
}

@media screen and (max-width: 1600px) {
  .form-section .container .right-block img {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.form-section .container .left-block {
  width: 50%;
  overflow: hidden;
}

@media screen and (max-width: 430px) {
  .form-section .container .left-block {
    width: 100%;
  }
}

.form-section .container .left-block .zagolovok {
  font-size: 45px;
  line-height: 53px;
  font-family: "Ubuntu", sans-serif;
  color: #757575;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-section .container .left-block .modal-form-itself {
  width: 550px;
  height: auto;
  min-height: 60px;
  border-radius: 5px;
  background: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 430px) {
  .form-section .container .left-block .modal-form-itself {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.form-section .container .left-block .modal-form-itself form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: auto;
  position: relative;
  overflow: hidden;
}

.form-section .container .left-block .modal-form-itself form .form-item {
  margin: 20px 0;
}

.form-section .container .left-block .modal-form-itself form input {
  font-size: 20px;
  line-height: 21px;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  color: #333333;
  padding: 5px;
  width: 300px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #ACA6A6;
  padding-bottom: 15px;
}

.form-section .container .left-block .modal-form-itself form .button-send-modal {
  padding: 15px 40px;
  font-size: 20px;
  line-height: 23px;
  background: #36A9E1;
  border-radius: 13px;
  color: white;
  text-align: center;
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  margin: 0 0 40px 180px;
}

.form-section .container .left-block .modal-form-itself form .accept-block {
  margin-top: 10px;
}

.form-section .container .left-block .modal-form-itself form .accept-block input[type=checkbox] {
  display: none;
  width: 10px;
}

.form-section .container .left-block .modal-form-itself form .accept-block input[type=checkbox]:checked + label:before {
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  top: 2px;
  left: 2px;
  height: 5px;
}

.form-section .container .left-block .modal-form-itself form .accept-block input[type=checkbox] + label {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #757575;
  padding-left: 30px;
  position: relative;
}

.form-section .container .left-block .modal-form-itself form .accept-block input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #ACA6A6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.form-section .container .left-block .modal-form-itself form .description-accept {
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  line-height: 180%;
  margin: 10px 0;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: vissible;
  width: 100%;
  color: #757575;
}

.form-section .container .left-block .modal-form-itself form .hide {
  opacity: 0;
  visibility: hidden;
  height: auto !important;
}

.form-section .container .left-block .modal-form-itself .description {
  font-family: "OpenSans", sans-serif;
  font-size: 25px;
  text-align: left;
  line-height: 180%;
  color: #ACA6A6;
  -webkit-transition: #757575;
  transition: #757575;
  margin: 50px auto;
}

.form-section .container .left-block .modal-form-itself .hide {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  height: 0 !important;
  padding: 0;
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: translateX(-460px);
            transform: translateX(-460px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes right {
  0% {
    -webkit-transform: translateX(-460px);
            transform: translateX(-460px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes bottom {
  0% {
    -webkit-transform: translateY(-260px);
            transform: translateY(-260px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bottom {
  0% {
    -webkit-transform: translateY(-260px);
            transform: translateY(-260px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: translateX(460px);
            transform: translateX(460px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes left {
  0% {
    -webkit-transform: translateX(460px);
            transform: translateX(460px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes top {
  0% {
    -webkit-transform: translateY(260px);
            transform: translateY(260px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes top {
  0% {
    -webkit-transform: translateY(260px);
            transform: translateY(260px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.how-do {
  width: 100%;
  height: auto;
  background: url("../img/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.how-do .our-project {
  z-index: 1;
  position: relative;
}

.how-do .our-project .container {
  margin: 0 auto;
}

.how-do .our-project .container .zagolovok-project {
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  color: white;
  text-transform: uppercase;
  padding: 120px 0px 0 100px;
}

.how-do .our-project .container .obertka-block {
  padding: 50px;
}

.how-do .our-project .container .obertka-block .project-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 1040px;
  height: 570px;
  overflow: hidden;
}

.how-do .our-project .container .obertka-block .project-block .project-itself {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  padding: 30px;
  color: white;
  cursor: pointer;
  background: #36A9E1;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(1) {
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(1):hover .more {
  opacity: 1;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(2) {
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(2):hover .more {
  opacity: 1;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(3) {
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(3):hover .more {
  opacity: 1;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(4) {
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-itself:nth-child(4):hover .more {
  opacity: 1;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .content-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .content-inside .left-block .zagolovok {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .content-inside .left-block .text-project {
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  margin-bottom: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .content-inside .right-block {
  display: none;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .more {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  font-weight: bold;
  z-index: 2;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .more .fa-angle-right {
  top: 5px;
  right: -15px;
  position: absolute;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .frame {
  position: absolute;
  width: 460px;
  height: 260px;
  left: 0px;
  opacity: 1;
  border-radius: 20px;
  z-index: 3;
  overflow: hidden;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .frame .windrose:nth-child(1) {
  position: absolute;
  width: 460px;
  height: 260px;
  border-top: 8px solid white;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(-460px);
          transform: translateX(-460px);
}

.how-do .our-project .container .obertka-block .project-block .project-itself .frame .windrose:nth-child(2) {
  position: absolute;
  width: 452px;
  height: 260px;
  border-right: 8px solid white;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-260px);
          transform: translateY(-260px);
}

.how-do .our-project .container .obertka-block .project-block .project-itself .frame .windrose:nth-child(3) {
  position: absolute;
  width: 460px;
  height: 252px;
  border-bottom: 8px solid white;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(460px);
          transform: translateX(460px);
}

.how-do .our-project .container .obertka-block .project-block .project-itself .frame .windrose:nth-child(4) {
  position: absolute;
  width: 452px;
  height: 260px;
  border-left: 8px solid white;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(260px);
          transform: translateY(260px);
}

.how-do .our-project .container .obertka-block .project-block .project-itself .frame:hover .windrose:nth-child(1) {
  -webkit-animation: right 0.3s both;
          animation: right 0.3s both;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.how-do .our-project .container .obertka-block .project-block .project-itself .frame:hover .windrose:nth-child(2) {
  -webkit-animation: bottom 0.3s both 0.3s;
          animation: bottom 0.3s both 0.3s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.how-do .our-project .container .obertka-block .project-block .project-itself .frame:hover .windrose:nth-child(3) {
  -webkit-animation: left 0.3s both 0.6s;
          animation: left 0.3s both 0.6s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.how-do .our-project .container .obertka-block .project-block .project-itself .frame:hover .windrose:nth-child(4) {
  -webkit-animation: top 0.3s both 0.9s;
          animation: top 0.3s both 0.9s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.how-do .our-project .container .obertka-block .project-block .project-itself .close-btn-project {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.how-do .our-project .container .obertka-block .project-block .project-itself .close-btn-project:after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: #36A9E1;
  border-radius: 10px;
  -webkit-transform: translate(-3px, 5px) rotate(45deg);
          transform: translate(-3px, 5px) rotate(45deg);
}

.how-do .our-project .container .obertka-block .project-block .project-itself .close-btn-project:before {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: #36A9E1;
  border-radius: 10px;
  -webkit-transform: translate(-3px, 10px) rotate(-45deg);
          transform: translate(-3px, 10px) rotate(-45deg);
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself {
  width: 1040px;
  height: 570px;
  background: white;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: auto;
  padding: 0;
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself .close-btn-project {
  opacity: 1;
  color: #757575;
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself .content-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto 0;
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself .content-inside .left-block .zagolovok {
  margin: 0px 0 20px 50px;
  font-size: 36px;
  color: #757575;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself .content-inside .left-block .text-project {
  font-size: 13px;
  color: #757575;
  padding: 0 100px 0 50px;
  text-align: justify;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself .content-inside .right-block {
  display: block;
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself .more {
  opacity: 0 !important;
}

.how-do .our-project .container .obertka-block .project-block .project-full-itself .frame {
  opacity: 0;
}

.how-do .our-project .container .obertka-block .project-block .project-full-show:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-full-show:nth-child(2) {
  top: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-full-show:nth-child(3) {
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-do .our-project .container .obertka-block .project-block .project-full-show:nth-child(4) {
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer {
  width: 100%;
  height: auto;
  background: url("../img/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.footer .container {
  margin: 0 auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 120px 0 70px 0;
}

.footer .container .left-side-footer {
  margin-left: 50px;
  z-index: 1;
}

.footer .container .left-side-footer .logo-footer {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .left-side-footer .logo-footer img {
  width: 90px;
  height: 70px;
}

.footer .container .left-side-footer .email {
  font-size: 20px;
  line-height: 23px;
  color: white;
  font-family: "OpenSans", sans-serif;
  margin-left: 65px;
}

.footer .container .left-side-footer .email a {
  text-decoration: none;
  color: white;
}

.footer .container .left-side-footer .email a:hover {
  text-decoration: none;
  color: white;
}

.footer .container .left-side-footer .text-left {
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  color: white;
  line-height: 30px;
}

.modal-form-show .modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-form-show .modal-form .shadow-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-form-show .modal-form .modal-form-itself {
  width: 550px;
  height: auto;
  min-height: 60px;
  border-radius: 5px;
  background: #ffffff;
  margin: 0 20px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 430px) {
  .modal-form-show .modal-form .modal-form-itself {
    width: 90vw;
    margin: 0;
    left: 5vw;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (max-width: 320px) {
  .modal-form-show .modal-form .modal-form-itself {
    top: 20%;
  }
}

.modal-form-show .modal-form .modal-form-itself .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.modal-form-show .modal-form .modal-form-itself .close-btn:after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: #36A9E1;
  border-radius: 10px;
  -webkit-transform: translate(-3px, 6px) rotate(45deg);
          transform: translate(-3px, 6px) rotate(45deg);
}

.modal-form-show .modal-form .modal-form-itself .close-btn:before {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background: #36A9E1;
  border-radius: 10px;
  -webkit-transform: translate(-3px, 10px) rotate(-45deg);
          transform: translate(-3px, 10px) rotate(-45deg);
}

.modal-form-show .modal-form .modal-form-itself form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: auto;
  position: relative;
  padding: 30px;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .modal-form-show .modal-form .modal-form-itself form {
    padding: 20px;
  }
}

.modal-form-show .modal-form .modal-form-itself form .zagolovok-form {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  color: #757575;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .modal-form-show .modal-form .modal-form-itself form .zagolovok-form {
    font-size: 18px;
  }
}

.modal-form-show .modal-form .modal-form-itself form .form-item {
  margin: 20px 0;
}

.modal-form-show .modal-form .modal-form-itself form input {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  color: #333333;
  padding: 5px;
  width: 300px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #ACA6A6;
  padding-bottom: 15px;
}

@media screen and (max-width: 320px) {
  .modal-form-show .modal-form .modal-form-itself form input {
    width: 80vw;
  }
}

.modal-form-show .modal-form .modal-form-itself form .button-send-modal {
  padding: 15px 40px;
  font-size: 20px;
  background: #36A9E1;
  border-radius: 13px;
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block {
  margin-top: 10px;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block input[type=checkbox] {
  display: none;
  width: 10px;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block input[type=checkbox]:checked + label:before {
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  top: 2px;
  left: 2px;
  height: 5px;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block input[type=checkbox] + label {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  padding-left: 30px;
  position: relative;
}

.modal-form-show .modal-form .modal-form-itself form .accept-block input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #757575;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-form-show .modal-form .modal-form-itself form .description-accept {
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  line-height: 180%;
  margin: 10px 0;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: vissible;
  width: 100%;
  color: #757575;
}

.modal-form-show .modal-form .modal-form-itself form .hide {
  opacity: 0;
  visibility: hidden;
  height: auto !important;
}

.modal-form-show .modal-form .modal-form-itself .description {
  font-family: "OpenSans", sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 180%;
  color: #757575;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 50px auto;
}

.modal-form-show .modal-form .modal-form-itself .hide {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  height: 0 !important;
  padding: 0;
}

.modal-form-show .modal-form-show {
  opacity: 1;
  visibility: visible;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.preloader-hide {
  opacity: 0;
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */