<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Открытые технологии</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <script src="js/vue.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="js/slick.min.js" type="text/javascript"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <section class="present">
        <div class="zaglushka"></div>
        <div class="menu-block">
                <div class="container">
                    <div class="logo">
                        <img :src="logo" alt="">
                    </div>
                    <div class="menu-btn-block">
                        <div class="menu-itself" >
                            <a class="menu-link" v-for="item in menus" :href="item.url">{{item.label}}</a>
                        </div>
                        <div class="button-present" > Order a demo</div>
                    </div>
                </div>
        </div>
        <div class="behind-block">
                <div class="container">
                    <div class="main-text">{{zagolovok}}</div>
                    <div class="not-main-text">{{about}}</div>
                </div>
                
                
                <!-- <div class="menu-present">
                        <div class="container">
                            <div class="contact-present">
                                <div class="phone">
                                      <i class="fa fa-phone-square-alt fa-fw"></i><a href="tel:9122342334">+7 (912) 234-23-34</a>
                                </div>
                                <div class="email">
                                        <i class="fa fa-envelope fa-fw"></i><a href="mailto:9122342334">opentechnology.ru</a>
                                </div>
                            </div>
                            <div class="text-block">
                                    <div class="zagolovok">{{zagolovok}}</div>
                                    <div class="about-present" >{{about}}</div>
                            </div>
                            <div class="button-present" >Заказать <br> демонстрацию</div>
                        </div>
                    </div> -->
        </div>
        <div class="about-product">
                <div class="container slider-about">
                    <div class="about-item" v-for="about in abouts">
                            <div class="left-block">
                                    <div class="zagolovok" v-html="about.zagolovok"></div>
                                    <div class="about-text" v-html="about.text"></div>
                            </div>  
                    </div>
                </div>
        </div>
        <div class="achivment">
            <div class="container">
                <achive-items v-for="achivment in achivments" :achivments="achivment"></achive-items>
            </div>
        </div>
    </section>
    <!-- <section class="about-product">
        <div class="container slider-about">
            <div class="about-item" v-for="about in abouts">
                    <div class="left-block">
                            <p>{{about.text}}</p>
                    </div>  
            </div>
        </div>
    </section> -->
    <!-- <section class="achivment">
            <div class="zaglushka"></div>
            <div class="container">
                <achive-items v-for="achivment in achivments" :achivments="achivment"></achive-items>
            </div>
    </section> -->
    <section class="form-section">
            <div class="container">
                <div class="left-block">
                    <modal-form  :settings="settings"></modal-form>
                </div>
                <div class="right-block">
                    <p class="zagolovok">Закажите бесплатную демонстрацию</p>
                    <p class="text">Оставьте свои контактные данные, мы перезвоним и расскажем вам о всех преимуществах нашей системы</p>
                </div>
            </div>
    </section>
    <section class="how-do">
            <div class="zaglushka"></div>
            <div class="our-project">
                    <div class="container">
                        <div class="zagolovok-project">We Now How</div>
                        <div class="obertka-block">
                                <div class="project-block">
                                    <div class="project-itself" v-for="project in projects">
                                        <div class="close-btn-project">X</div>
                                        <div class="zagolovok">{{project.zagolovok}}</div>
                                        <div class="text-project" v-html="project.text"></div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
    </section>
    <!-- <section class="circles">
            <div class="zaglushka"></div>
            <div class="container">
              <div class="circle-block" v-for="circle in circles">
                    <canvas class="circle" width="300" height="300" ></canvas>
                    <p class="circle-numbers">{{circle.number}}</p>
                    <p class="about-numbers">Запросов в секунду</p>
              </div>  
            </div>
    </section>
    <section class="offer">
        <div class="container" >
                <offer-items  v-for="offer in offers"  :offers="offer"></offer-items>
        </div>
    </section> -->
    <section class="footer">
            <div class="container">
                <p>Open Technology 2019</p>
            </div>
    </section>
    <article class="modal-form-show">
        <div class="modal-form">
            <div class="shadow-back"></div>
            <modal-form  :settings="settings"></modal-form>
        </div>
    </article>
    <!-- <article class="preloader">
        <canvas class="preloader-canvas" :width="width" :height="height" ></canvas>
    </article> -->
</body>
</html>